<h1>messages</h1>

<table>
  <tr>
    <th>id</th>
    <th>status</th>
    <th>event</th>
    <th></th>
    <th>from</th>
    <th>to</th>
    <th>created at</th>
    <th>retry at</th>
    <th>action</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.id %></td>
      <td>
        <% if message.failed? %>
          <a href="/a/messages/<%= message.id %>"><%= message.status %></a>
        <% else %>
          <%= message.status %>
        <% end %>
      </td>
      <td><%= message.event.name %></td>
      <td><%= message.event.id %></td>
      <td><%= message.event.app.name %></td>
      <td><%= message.app.name %></td>
      <td><%= show_time message.created_at%></td>
      <td><%= show_time message.retry_at %></td>
      <td>
        <% if message.pending? %>
          <a
            href="/a/messages/<%= message.id %>"
            data-method="delete">
            cancel
          </a>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
